<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Model Deployment </h2>
<form action="/predict" method="POST">

    <P>Enter Following House  Details : </P>
    Enter RM <input type="number" name="rm" id="rm" placeholder="rm" step="any">
      <BR><BR>
    Enter LSTAT <input type="number" name="lstat" placeholder="lstat" step="any">
     <BR><BR>
    Enter PTRATIO <input type="number" name="ptratio" placeholder="ptratio" step="any">
     <BR><BR>
    Enter INDUS <input type="number" name="indus" placeholder="indus" step="any">
      <BR><BR>
    <input type="submit">
</form>
</body>
</html>
